/* style.css */

body {
    background-color: white;
    margin: 20px;
    font-family: sans-serif;
  }
  
  .generator {
    margin-bottom: 40px;
  }
  
  .gen-row {
    display: flex;
    gap: 20px;
    align-items: flex-start;
  }
  
  #canvasContainer-overworld,
  #canvasContainer-dungeon {
    flex: 0 0 auto;
  }
  
  .gen-row textarea {
    flex: 0 0 auto;
    width: 640px; 
    height: 640px; 
    box-sizing: border-box;
    opacity: 0.5;
    letter-spacing: 1ex;
    font-family: monospace;
    overflow: auto;
  }
  
  canvas {
    image-rendering: pixelated;
    display: block;
  }
  
  button {
    margin-right: 10px;
  }
  
  h2 {
    margin-bottom: 5px;
  }
  
  .minor-section {
    margin-top: 30px;
  }
  