/* style.css */
/* Set the canvas element to be the full size of the container */
canvas {
    width: 100%;
    height: 100%;
}

body {
    background-color: white;
    margin: 20px;
    font-family: sans-serif;
  }
  
  .generator-window {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    position: relative;
  }
  
  .fullscreen-box {
    position: absolute;
    bottom: 16px;
    right: 16px;
  }
  
  .generator {
    margin-bottom: 24px;
  }
  
  .gen-row {
    display: flex;
    gap: 20px;
    align-items: flex-start;
  }
  
  #canvasContainer-overworld,
  #canvasContainer-dungeon {
    flex: 0 0 auto;
  }
  
  .gen-row textarea {
    flex: 0 0 auto;
    width: 640px;
    height: 640px;
    box-sizing: border-box;
    opacity: 0.5;
    letter-spacing: 1ex;
    font-family: monospace;
    resize: vertical;
    overflow: auto;
  }
  
  canvas {
    image-rendering: pixelated;
    display: block;
  }
  
  button {
    margin-right: 10px;
  }
  
  h2 {
    margin-bottom: 5px;
  }
  
  .minor-section {
    margin-top: 30px;
  }

#canvas-container {
    width: 100%;
    height: 600px;
}